<!DOCTYPE html>
<html>

<head>
    <meta chars="utf-8" />
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/js/script.js"></script>
</head>

<body>
    <!-- Slogan -->
    <!-- <div id="Area-1">
        <h1>IM System Demo</h1>
        <p>Start at {{currentTime}}</p>
    </div> -->

    <!-- Input Area -->
    <div id="Area-2">
        <h2>Input Area</h2>
        <div class="flex-display">
            <input id="Input-1" type="text" oninput="query()" />
            <input type="button" value="C" onclick="inputByClick('C')" />
            <input type="button" value="，" onclick="inputByClick('，')" />
            <input type="button" value="。" onclick="inputByClick('。')" />
            <input type="button" value="B" onclick="inputByClick('B')" />
            <input type="button" value="K" onclick="inputByClick('K')" />
        </div>
        <div>
            <input id="Input-2" type="text" />
            <input type="button" value="Send" onclick="sendMessage()" />
            <input type="button" value="WeChat" onclick="weChat()" />
        </div>
    </div>

    <!-- Display Area -->
    <div class="flex-display">
        <div>
            <h2>Candidates</h2>
            <div id="Area-3"></div>
        </div>
        <div>
            <h2>Contexts</h2>
            <div id="Area-4"></div>
        </div>
    </div>

    <!-- Floating Area -->
    <div id="Area-5">
        <p>I am Floating Area</p>
        <p>Wishing a good luck to you, who read this message</p>
    </div>
    <div id="Area-6" onclick="onclickArea6()"></div>

    <div id="Area-7"></div>

    <script type="text/javascript">
        let inp1 = document.getElementById("Input-1");

        clear(document.getElementById("Area-7"));
        let div = d3.select("#Area-7");
        let lst = [];
        for (let i = 0; i < 26; i++) {
            lst[lst.length] = String.fromCharCode(97 + i);
        }

        div
            .append("div")
            .attr("class", "flex-display")
            .selectAll("p")
            .data(lst)
            .enter()
            .append("p")
            .attr("class", "col-candidate")
            .html((d) => d)
            .on("click", function(e, d) {
                inp1.value += d;
                query();
            });
    </script>
</body>

</html>